database/
backups/
data/
letsencrypt/
!services/invidious/config/*
files/
redis/
mysql/
wakapi_data/
ollama/
open-webui/

data_prod/
data_staging/

*.env
*.txt

cache/
config/
fonts/
media/
media2/
dawarich_*/
searxng-*/
valkey-data2/
firefly_iii_*/
