services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    container_name: postgres
    ports:
      - 5432:5432
    volumes: # Don't remove permanent storage for index database files!
      - ./database:/var/lib/postgresql/
      - ./backups:/backups/
      - ./scripts/sql:/config/sql
      - ./docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    labels:
        - "com.centurylinklabs.watchtower.enable=true"
    networks:
    - postgres_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d postgres -h localhost -p 5432"]
      interval: 30s
      retries: 5
      start_period: 30s
      timeout: 10s

  pgbackups:
    image: prodrigestivill/postgres-backup-local
    container_name: postgres-backup
    restart: always
    user: postgres:postgres
    volumes:
      - ./backups:/backups
    links:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=${POSTGRES_MULTIPLE_DATABASES}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_EXTRA_OPTS=-Z1 --blobs
      - SCHEDULE=@daily
      - BACKUP_ON_START=TRUE
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
      - HEALTHCHECK_PORT=8080
    labels:
        - "com.centurylinklabs.watchtower.enable=true"
    networks:
    - postgres_network

networks:
  postgres_network:
    external: true

