services:
  muse:
    image: ghcr.io/museofficial/muse:pr-1287
    container_name: muse
    restart: always
    volumes:
      - ./data:/data
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
      SPOTIFY_CLIENT_ID: ${SPOTIFY_CLIENT_ID}
      SPOTIFY_CLIENT_SECRET: ${SPOTIFY_CLIENT_SECRET}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "com.centurylinklabs.watchtower.schedule=0 0 0 * * *"
