services:
  watchtower:
    image: containrrr/watchtower
    restart: always
    environment:
      - WATCHTOWER_NOTIFICATION_SKIP_TITLE=True
      - WATCHTOWER_NOTIFICATION_URL=ntfy://:${TOKEN}@${NTFY_URL}/WatchtowerUpdates?title=WatchtowerUpdates
    command:
      - "--cleanup"
      - "--label-enable"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
