services:
  wakapi:
    image: ghcr.io/muety/wakapi:latest
    container_name: wakapi
    init: true
    ports:
      - "7865:3000"
    environment:
      WAKAPI_DB_TYPE: "postgres"
      WAKAPI_DB_HOST: "postgres"             # Name or hostname of your external Postgres service
      WAKAPI_DB_PORT: "5432"
      WAKAPI_DB_NAME: "wakapi"
      WAKAPI_DB_USER: "${POSTGRES_USER}"
      WAKAPI_DB_PASSWORD: "${POSTGRES_PASSWORD}"

      # Security salt for passwords
      WAKAPI_PASSWORD_SALT: "${SALT}"

    volumes:
      - ./data:/data

    restart: unless-stopped

    networks:
      - postgres_network

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "com.centurylinklabs.watchtower.schedule=0 0 0 * * *"


networks:
  postgres_network:
    external: true

