services:
  ollama:
    image: ollama/ollama:rocm
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    restart: unless-stopped
    networks:
    - ollama-net
    labels:
        - "com.centurylinklabs.watchtower.enable=true"
        - "com.centurylinklabs.watchtower.schedule=0 0 0 * * *"

  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    ports:
      - "3000:8080"
    volumes:
      - ./open-webui:/app/backend/data
    restart: unless-stopped
    depends_on:
      - ollama
    environment:
      - OLLAMA_API_BASE_URL=http://ollama:11434
      - OLLAMA_API_URL=http://ollama:11434
    networks:
      - ollama-net
    labels:
        - "com.centurylinklabs.watchtower.enable=true"
        - "com.centurylinklabs.watchtower.schedule=0 0 0 * * *"

networks:
  ollama-net:
    driver: bridge
